{% extends "base.html" %}
{% block title %}Email Sent{% endblock %}

{% block content %}
<div class="flex justify-center items-center min-h-[60vh]">
    <div class="bg-white dark:bg-gray-800 shadow-xl rounded-2xl p-10 text-center max-w-md">

        <i class="bi bi-envelope-check-fill text-primary text-4xl mb-3"></i>

        <h2 class="text-2xl font-bold mb-2 text-primary">
            Check Your Email
        </h2>

        <p class="text-gray-600 dark:text-gray-300">
            We've sent password reset instructions to your email.
        </p>

    </div>
</div>
{% endblock %}
